/*Folhas de Estilos do Site */

/* Estilos de posicionamento geral. */

* {
    box-sizing: border-box;
    outline: none;
}

html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*Define a unidade de medida 'rem' que equivale ao espaço ocpado pela letra 'M'. 
    1rm = 16px, 0.5rem = 8px*/
    position: relative;
    font-size: 16px;
    height: 100%; /*Coloca a porcentagem de altura*/
    margin: 0; /*coloca o tamanho da margem*/
    padding: 0; /*coloca o enchimento do site*/
}
body{
    background-color: steelblue;
}

#wrap {
    position: relative;
    height: 100%;
    width: 100%;  /*coloca a porcetagem de largura*/
    max-width: 1080px; /*Diz qual é o máximo de tamanho que o site vai ter*/
    margin: auto;
    display: flex;
    flex-direction: column;
    
}
 /* cabeçalho */
 
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin: .5rem .5rem 0 .5rem;
    border-radius: .5rem;
    /* border: 1rem double black; */
}

header div{
    text-align: center;
}

header img {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    text-shadow: 4px 2px 1px steelblue;
}

header small{
    letter-spacing: .32rem;
}

nav{
    background-color: black;
    display: flex;
    justify-content: end;
    border-radius: .5rem;
    margin: .5rem;
}

nav a{
    color: white;
    text-decoration: none;
    padding: .25rem .5rem;
    transition: .2s;
}

nav a:first-child {
    margin-right: auto;
    border-radius: .5rem 0 0 .5rem;
}

nav a:hover{
    background-color: white;
    color: black;
}
nav a:last-child{
    border-radius:  0 .5rem .5rem 0;
}
main{
    background-color: white;
    padding: 1rem;
    margin: 0 .5rem .5rem .5rem;
    border-radius: .5rem;
    flex-grow: 1;
}

/* Rodapé*/

footer{
    background-color: black;
    margin: 0 .5rem .5rem .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;

}

footer a:hover {
    color: orangered;
}

footer i {
    font-size: 1.8rem;
    margin: .5rem;
}
footer > div{
    text-align: center;
    margin: .5rem;
}